<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>gerenciadorMsg</display-name>
	
	<!-- Indica o estado em que o projeto se encontra -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Página de boas vindas do projeto -->
	<welcome-file-list>
		<welcome-file>home.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Mapeamento da Servlet do JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Mapeamento das páginas com JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.mensagem</url-pattern>
	</servlet-mapping>

	<!-- Comentarios no xhtml -->
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Configuração da sessão -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- Configuração de tagLibs personalizadas --> 
	<context-param>
	   <param-name>facelets.LIBRARIES</param-name>
	   <param-value>/WEB-INF/mensagem.taglib.xml</param-value>
	</context-param>

	<!-- <error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/permissaoNegada.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/permissaoNegada.xhtml</location>
	</error-page>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bluesky</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<absolute-ordering></absolute-ordering>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORY</param-name>
		<param-value>resources</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
		<param-value>br.com.goldencross.goldenaop.resourceresolver.CustomResourceResolver</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>false</param-value>
	</context-param> -->

</web-app>
